version: 2
updates:
    - package-ecosystem: 'pip'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          default-days: 8

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          default-days: 8
