repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  -   repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.11.0.1
      hooks:
      - id: shellcheck
        args: ["--external-sources", "--source-path=SCRIPTDIR"]
